html {
  text-align: center;
  background: lightgrey;
}
.container {
  height: 780px;
  width: 550px;
  border: 2px solid black;
  margin: auto;
  background: #2c2e33;
  border-radius: 5px;
}
.inputs {
  height: 25px;
  width: 320px;
  font-size: 20px;
  border-radius: 5px;
}
#button1 {
  margin-top: 40px;
  color: white;
  background: #af3838;
  border: #af3838;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;

}
p {
  color: white;
  font-size: 20px;
}
h1 {
  color: lightblue;
}
